.header {
    background: #000;
    padding: 15px 0;
    color: #fff;
    .logo {
        margin-bottom: 10px;
    }
}
.logo {
    display: inline-block;
    height: 26px;
    width: 100px;
    &__svg {
        display: block;
        fill: #e50914;
    }
}